<table id="datatable" class="table table-bordered">
  <thead>
    <tr>
      <th>Mã khách hàng</th>
      <th>Tên khách hàng</th>
      <th>Chi tiêu</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <% if(typeof listCustomer != 'undefined') { %>
    <% listCustomer.forEach(item => { %>
    <tr>
      <td><%- item.customerID %></td>
      <td><%- item.fullname %></td>
      <td><%- item.total %></td>
      <td class="text-center">
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#view-modal"
          onclick="getCustomerInfo('<%- item._id %>')">Xem</button>
        <button class="btn btn-outline-warning" data-toggle="modal" data-target="#edit-modal"
          onclick="getCustomerInfo('<%- item._id %>')">Sửa</button>
        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-modal"
          onclick="getID('<%- item._id %>')">Xóa</button>

      </td>
    </tr>
    <% }) } %>
  </tbody>
</table>