<table id="datatable" class="table table-bordered">
  <thead>
    <tr>
      <th>Tên khách hàng</th>
      <th>Số điện thoại</th>
      <th>Loại</th>
      <th>Ngày đăng kí</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <% if(typeof customers != 'undefined') { %>
    <% customers.forEach(item => { %>
    <tr>
      <td><%- item.fullname %></td>
      <td><%- item.phone %></td>
      <td><%- item.type %></td>
      <td>
        <%- item.joinDate.getDate() %>/<%- item.joinDate.getMonth() + 1 %>/<%- item.joinDate.getFullYear() %>
      </td>
      <td class="text-center">
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#view-modal"
          onclick="getCustomerInfo('<%- item._id %>')">Xem</button>
        <button class="btn btn-outline-warning" data-toggle="modal" data-target="#edit-modal"
          onclick="getCustomerInfo('<%- item._id %>')">Sửa</button>
        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-modal"
          onclick="getID('<%- item._id %>')">Xóa</button>

      </td>
    </tr>
    <% }) } %>
  </tbody>
</table>